
body{font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background: #222222;
}
html{font-size: 15px;}
